<div class="center-container">
  <div *ngIf="kid" class="form-card">
    <form [formGroup]="form" style="width: 300px">
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Documento</mat-label>
        <input matInput formControlName="documentNumber" />
      </mat-form-field>

      <mat-form-field *ngIf="isEdition" appearance="fill" style="width: 100%">
        <mat-label>Patente del Micro</mat-label>
        <input
          matInput
          readonly
          [value]="kid.busRegistrationPlate || '-- LIBRE --'"
        />
      </mat-form-field>
    </form>

    <form-buttons (cancel)="onCancel()" (save)="onSave()"></form-buttons>
  </div>

  <div *ngIf="!kid">Cargando...</div>
</div>
