<mat-toolbar color="primary" class="top-bar">
  <span class="app-title">Bus App</span>

  <span class="spacer"></span>

  <a
    mat-button
    routerLink="/home"
    class="top-bar-link"
    routerLinkActive="active"
    >Inicio</a
  >
  <a
    mat-button
    routerLink="/buses"
    class="top-bar-link"
    routerLinkActive="active"
    >Micros</a
  >
  <a
    mat-button
    routerLink="/drivers"
    class="top-bar-link"
    routerLinkActive="active"
    >Choferes</a
  >
  <a
    mat-button
    routerLink="/kids"
    class="top-bar-link"
    routerLinkActive="active"
    >Chicos</a
  >
</mat-toolbar>
